<br/><p id="notice"><%= notice %></p>
<h1>Liste des tables</h1><hr/>

<table class="table table-striped table-bordered table-hover" style="max-width: 30%">
  <tr>
    <td rowspan="1">Catégories d'acteurs</td>
    <td>Table des catégories d'acteurs</td>
    <td><%= link_to 'Voir', actors_groups_path %></td>
  </tr>
</table>