<p id="notice"><%= notice %></p>

<p>
  <strong>Nom du champ de compétences :</strong>
  <%= @competence.name %>
</p>

<br/>
<%= link_to 'Editer', edit_competence_path(@competence) %> |
<%= link_to 'Voir tous les champs de compétences', competences_path %>
